<html>
    <script src="angular/angular.min.js"></script>
    <body ng-app='myApp'>                                                           <!--myApp's Container Start-->
        <div ng-controller='myCtr'>                                                     <!--myCtr's Container Start -->
            <div>
                <h3>Name: {{namee}}!</h3>
                <h3>Address: {{addr}}!</h3>
                <h3>Company: {{company}}!</h3>
            </div>                                                                      <!--myCtr's Container End-->
            Name: <input ng-model="namee"><br>                                     <!--span is to hook the content from ng-bind-->
            Address: <input ng-model="addr"><br>                                   <!--ng-bind tells to replace the html content to a given variable or expression-->
            Company: <input ng-model="company"><br>                                <!--the ng-bind here binds the variable in quotes "contained" in the controller scope-->
            <button ng-click="change()">Change</button>                                 <!--ng-click is basically like a "on click"-->
        </div>
        <script type="text/javascript">
            var myApp = angular.module("myApp", []);                                    //javascript so has to change comment style. xD
            myApp.controller("myCtr", function($scope) {                                //'$scope' can be considered as the scope of a function in other languages
                $scope.namee = "ME";                                                    //The scope is of a controller in Angular thus in our case of 'myCtr' and can be thus,
                $scope.addr = "Here";                                                   //used anywhere where the controller's container is used.
                $scope.company = "Haha";
                $scope.change = function(){
                    $scope.namee = "Add" + $scope.namee;
                    $scope.addr = "Add" + $scope.addr;
                }
            });
        </script>
    </body>                                                                        <!--myApp's Container End-->                      
</html>
